!!! XHTML
- @title = 'websocket client'
%html
  %head
    %title= @title
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html', :charset => 'UTF-8'}
    %script{:type => 'text/javascript', :src => "jquery.js"}
    %script{:type => 'text/javascript', :src => "jquery.cookie.js"}
    %script{:type => 'text/javascript', :src => "util.js"}
    %script{:type => 'text/javascript', :src => "main.js"}
    %link{:rel => 'stylesheet', :href => 'main.css', :type => 'text/css'}
  %body
    %div#header
      %h1= @title
      %div#ctrls
        %div#connect
          %input{:id => 'addr', :type => 'text', :value => 'localhost:10007'}
          %input{:id => 'btn_connect', :type => 'button', :value => 'open!'}
        %div#send
          %input{:id => 'send', :type => 'text', :value => 'hello'}
          %input{:id => 'btn_send', :type => 'button', :value => 'send'}
    %div#contens
      %div#panel_ctrls
        %input{:id => 'btn_add_panel', :type => 'button', :value => '+'}
      %div#panels
