!!! XHTML
- @title = 'logcat websocket'
%html
  %head
    %title= @title
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html', :charset => 'UTF-8'}
    %script{:type => 'text/javascript', :src => "jquery.js"}
    %script{:type => 'text/javascript', :src => "main.js"}
    %link{:rel => 'stylesheet', :href => 'main.css', :type => 'text/css'}
  %body
    %h1= @title
    %div
      %input{:id => 'addr', :type => 'text', :value => '192.168.1.2:10007'}
      %input{:id => 'btn_connect', :type => 'button', :value => 'connect!'}
    %div#panel_ctrls
      %input{:id => 'btn_add_panel', :type => 'button', :value => '+'}
    %div#panels
