
body, h1, h2, h3, h4, div, span, p{
    font-size : smaller;
    margin : 0px;
    padding : 0px;
}

div#panels{
    width : 99%;
    padding : 0px;
    margin : 0px;
}

div#panels div.panel{
    border : solid 1px #000;
    background : ##FFF;
    float : left;
}