
html, body, h1, h2, h3, h4, div, span, p{
    margin : 0px;
    padding : 0px;
    background : #000;
    color : #FFF;
    font-size : 97%;
}

html, body {
    height: 100%;
    width : 100%;
}

h1{
    font-size : smaller;
}

div#ctrls div{
    float : left;
}

div#ctrls div#send{
    margin-left : 30px;
}

input#send{
    width : 300px;
}

div#contens{
    clear : both;
}

div#panels{
    width : 100%;
    padding : 0px;
    margin : 0px;
}

div.panel{
    padding : 2px;
    border-top : solid 2px #FFF;
    margin : 0px;
    background : #000;
    color : #FFF;
    float : left;
    overflow : scroll;
}

.btn_close{
    float : right;
}

